# Python virtual environment
.venv/
__pycache__

# Node.js dependencies
node_modules/

# autotherm moduls: 
hardware/autotherm_heater_control/venv/
hardware/autotherm_heater_control/.idea

# logfiles
debug.log   
heater.log